* {
    box-sizing: border-box;
}

#wrapper {
    display: grid;
    margin: auto;
    width: 80vw;
    max-width: 1200px;
    min-height: 90vh;
    grid-template-areas: "header header header header header homepage"
                         "leftPanel leftPanel leftPanel sectionSelect clothingSelect clothingSelect"
                         "leftPanel leftPanel leftPanel sectionSelect clothingSelect clothingSelect"
                         "leftPanel leftPanel leftPanel sectionSelect clothingSelect clothingSelect"
                         "leftPanel leftPanel leftPanel sectionSelect clothingSelect clothingSelect";
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

header {
    grid-area: header;
    background-color: white;
}

#homepage {
    grid-area: homepage;
    background-color: white;
    padding-left: 25px;
}

#leftPanel {
    grid-area: leftPanel;
    background-color: lightpink;
    display: flex;
    align-content: center;
    justify-content: center;
}

#sectionSelect {
    grid-area: sectionSelect;
    background-color: palevioletred;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}

#clothingSelect {
    grid-area: clothingSelect;
    background-color: lightpink;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.clothingBoxes {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
}

.sectionCircles {
    width: 125px;
    height: 125px;
    margin: 15px;
}

#backButton {
    background-color: deeppink;
    border-radius: 10px;
    width: 125px;
    height: 75px;
    margin: auto;
}

h1 {
    font-family: sans-serif;
    margin-top: 75px;
}

h2 {
    font-family: sans-serif;
    color: white;
    font-size: 14px;
    text-align: center;
    margin-top: 30%;
}

.character {
    height: 500px;
    width: auto;
}


@media (max-width: 568px){

}





