* {
    box-sizing: border-box;
}


/* margin: auto;
    padding: 50px;
    border-bottom-color: #B4E2F9;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    max-width: 600px; */

body {
    background-color: white;
    margin-left: 0px;
    margin-right: 0px;
}

.container{
    margin-left: 400px;
    margin-top: 100px;
    height: 50vh;
    width: 50vw;
    float: right;
}

.banner {
    background-color: #CFF9F7;
    border-style: solid;
    border-width: 8px;
    border-color: #7DC6C2;
    padding: 40px;
    border-right: none;
}

.weeklist {
    margin-top: 300px;
}

table {
    padding-top: 100px;
    margin: auto;
    text-align: center;
}

td {
    margin: auto;
    cursor: pointer;
    padding: 10px;
}

a {
    color: #5FA6A6;
    text-decoration: none;
    cursor: pointer;
    display: block;
    margin: auto;
    text-align: center;
}

a.table-links {
    color: #7DC6C2;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
}

a.anchor-links {
    color: #9DA7AA;
    cursor: auto;
    font-family: 'Handlee', cursive;
    font-size: 30px;
}

a.exercise-links {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
}

section.week {
    padding-top: 70px;
}


/* This img section puts the picture of myself in the center of the screen, sets it's max width and height and rotates the image so it is the correct orientation. It also sets a white oval border around the image that is solid and 8px wide. I also gave the picture a top and bottom margin to space it out from the other things in the header */


/*img {
    max-width: 300px;
    max-height: 200px;
    margin: auto;
    display: block;
    align-content: center;
    transform: rotate(90deg);
    border-radius: 50%;
    border-style: solid;
    border-width: 8px;
    border-color: white;
    margin-bottom: 40px;
    margin-top: 20px;
}


img {
    min-width: 60vw;
    max-width: 60vw;
    max-height: 100vh;
    transform: rotate(90deg);
    float: left;
    position: fixed;
}

*/
img{
    margin: auto;
    top: 0;
    position: fixed;
    max-height: 100vh;
    max-width: 100vw;
    min-width: 60vh;
    transform: rotate(180deg);
}

/*
.left-image{
    width: 1000px;;
    height: 700px;
    background-image: url(media/selfie.JPG);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    position: fixed;
    margin: 0px;
    float: left;
}*/



/* These h1 and h2 sections center the text in each line to the middle of the screen using display, margin and text-align. These sections also set the font weight, family, color and size. */

h1 {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 45px;
    font-family: 'Handlee', cursive;
    color: #7DC6C2;
    font-weight: 600;
}

h2 {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #9DA7AA;
    font-weight: 300;
}

h3 {
    color: black;
    display: block;
    margin: auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

h3.v{
    color: #CFF9F7;
    font-size: 50px;
    margin-top: 40px;
}

li{
    list-style-type: none;
}

footer{
    color: #CFF9F7;
    height: 10px;
    width: 100%;
}
